*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fscr{
    width: 100vw;
    height: 100vh;
}

.gradscr{
    background-image: linear-gradient(to bottom right, red, yellow);
}




.cabin{
    font-family: 'Cabin', sans-serif;
}

.wh{
    font-size: 10vh;
}

.subw{
    font-size: 2.5vh;
}
.welcome{
    text-align: center;
    align-content: center;
    color: white;
}

.welbox{
    background-color: rgba(0, 0, 0, .5);
    margin: auto;
    width: 40vw;
    height: 20vh
}

.books{
    width: 40vw;
    height:100vh;
    background-image: url(img/books.jpg);
    padding-top: 10vw;
    margin: auto
}

.c{
    background-color: beige;    
}
.card{
    width: 100vw;
    height: 20vh; 
    text-align: center;
    padding-top: 10vh;   
}
.nb{
    color:brown;
    font-size: 5vh;
}
.bocar{
    display: flex;
    flex-direction: row;
}
.bookcard{
    background-color: blue;
    width: 50vw;
    height: 80vw;
}
.img1{
    background-image: url(img/book1.webp);
    width: 50vw;
    height: 80vw;
    background-repeat: no-repeat;
}
.img2{
    background-image: url(img/book2.webp);
    width: 50vw;
    height: 80vw;
    background-repeat: no-repeat;
}